* {
    font-family: Roboto;
}

.container {
    height: 960px;
    width: 960px;
    margin: auto;
    border: 2px solid black;
    flex-direction: column;

}

.flexbox {
    display: flex;
}

.column {
    flex-grow: 1;
    border: 1px solid black;
}

.row {
    flex-grow: 1;
}

button {
    display: block;
    margin: 10px auto;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: coral;
    color: white;
    padding: 10px;
    border: 2px solid sienna;
    box-shadow: 0 7px sienna;
}

button:hover {
    background-color: white;
    color: saddlebrown;
    cursor: pointer;
}

button:active {
    background-color: white;
    box-shadow: 0 3px saddlebrown;
    transform: translateY(4px);
  }